html, body{
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #e8f2dd;
  background-image: url("../img/bgedu.svg");
  background-size: cover;
  z-index: -1;
}

.avatar{
  width: 100px;
}


/* css static menu */
.img-soon{
  width: 50%;
}
.img-menu {
  width: 80px;
  height: 80px;
}
.menu {
  text-decoration: none;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.menu:hover {
  transform: scale(0.96);
  border-bottom: 4px solid #13653f;
  border-top: 1px solid #13653f;
}
.menu a {
  text-decoration: none;
  color: white;
}

/* helper */
.rounded {
  border-radius: 10px !important;
}

.hr {
  display: block;
  border-radius: 20px;
  border: 1px solid white !important;
  margin: 0 auto;
  margin-top: 20px !important;
  opacity: 1;
}

.lebarbox{
  width: 500px;
}
.kotak{
  height: 180px;
  width: 100%;
  padding: 16px;
}
.fonts{
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .avatar{
    width: 85px;
  }

  .img-soon {
    width: 80%;
  }
  .menu {
    text-decoration: none;
    width: 110px;
    height: 110px;
  }
  .img-menu {
    width: 60px;
    height: 60px;
    padding: 10px !important;
  }
  .kotak{
    height: 150px;
    width: 100%;
    padding: 10px;
  }
  .fonts{
    font-size: 1.1rem;
  }
  
}
